# 1 Introduction

In [1]:
import pandas as pd
from broom import *

In [2]:
df = pd.read_csv('data/car.csv')

In [3]:
m1 = lm('price ~ mpg + weight + length + foreign', data=df)

C:\Miniconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Intercept             5515.580073
foreign[T.Foreign]    3550.193719
mpg                    -13.407192
weight                   5.716181
length                 -92.480183
dtype: float64

In [4]:
tidy(m1)

                           coef         t       p_value
Intercept           5515.580073  1.052202  2.963779e-01
foreign[T.Foreign]  3550.193719  5.416369  8.351441e-07
mpg                  -13.407192 -0.185933  8.530427e-01
weight                 5.716181  5.625636  3.658110e-07
length               -92.480183 -2.753108  7.538301e-03

In [5]:
glance(m1)

,obs,r2,ar2,f,f_pvalue,df,df_resid,aic,bic
0,74.0,0.549091,0.522952,21.006089,2.321983e-11,4.0,69.0,1342.485434,1354.005759

In [7]:
# fitted and residuals
augment(m1).head()

       .fitted       .resid
0  4767.717742  -668.717742
1  8437.792062 -3688.792062
2  4774.668585  -975.668585
3  5698.908178  -882.908178
4  8105.889511  -278.889511

In [9]:
# fitted values with new data
augment(m1, new_data=df[11:21])

         .fitted
11   8755.027443
12  10890.487644
13   2113.643283
14   6787.973605
15   5549.401681